:root{
    --color_primary: #000000;
    --color_secondary_dark: #363636;
    --color_secondary_light: #777777;
    --color_accent_cool: #2d64e6;
    --color_accent_warm: #cd3d0f;
    --color_white: #ffffff;
    
    --color_banner1: #1f1f1f;
    --color_banner2:#bebcbb;
    --color_banner3: #161c3b;
    --color_footer: #00439c;
}

.nav_black{
    background-color: var(--color_primary);
}

section{
    padding: 2rem 0;
}

.jumbo_1{
    background-image: url('../img/returnal-listing-thumb-01-ps5.jpg')
}

.jumbo_1 .section_text{
    padding-top: 200px;
}