:root{
    --color_primary: #000000;
    --color_secondary_dark: #363636;
    --color_secondary_light: #777777;
    --color_accent_cool: #2d64e6;
    --color_accent_warm: #cd3d0f;
    --color_white: #ffffff;
    
    --color_banner1: #1f1f1f;
    --color_banner2:#bebcbb;
    --color_banner3: #161c3b;
    --color_footer: #00439c;
}

/* Bottoni */
[class*="btn_"]{
    color: var(--color_white);
    border-radius: 20px;
}

.btn_secondary_dark{
    background-color: var(--color_secondary_dark);
}

.btn_accent_warm{
    background-color: var(--color_accent_warm);
}

.btn_accent_cool{
    background-color: var(--color_accent_cool);
}

.btn_transp{
    color: var(--color_primary);
    background-color: rgba(255, 255, 255, 0.846);
}

.btn_transp_accent{
    color: var(--color_accent_cool);
    background-color: rgba(255, 255, 255, 0.427);
}

/* Formattazione testo */
h2, h3, h4, p{
    font-weight: 600;
}

h2{
    padding-bottom: 2rem;
}

h3{
    padding-bottom: 1rem;
}

p{
    padding-bottom: 1rem;
    font-size: larger;
}

.text_accent{
    color: var(--color_accent_cool);
}

.text_secondary{
    color: var(--color_secondary_light);
}

/* Proprietà header */
.nav{
    --bs-nav-link-padding-x: .5rem;
}

.nav_black{
    background-color: var(--color_primary);
}

.nav_black .img_container{
    max-width: 60px;
}

.menu_container a{
    color: var(--color_primary);
}

.menu_container a::after{
    content: url('../img/chevron-down-solid.svg');
    display: inline-block;
    width: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.nav_black .img_container,
.hamburger_menu,
.menu_right{
    margin-left: auto;
}

.menu_right button img{
    width: 20px;
}

.hamburger_menu svg{
    width: 20px;
    fill: var(--color_secondary_dark)
}

/* Proprietà main */
section{
    padding: 2rem 0;
}

#play5_products .card p{
    display: none;
}

.img_container_fluid{
    max-width: 50%;
    padding-bottom: 2rem;
}

[class^="jumbo"]{
    background-size: cover;
    background-position: center;
}

.jumbo_1{
    background-image: url('../img/jumbo-bg.png');
}

.jumbo_1 .section_text{
    padding-top: 300px;
}

.jumbo_2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.banner_1{
    background-color: var(--color_banner1);
}

.banner_2{
    background-color: var(--color_banner2);
}

.banner_3{
    background-color: var(--color_banner3);
}

.card{
    border: none;
    background-color: transparent;
}

.card .card-body{
    padding: 0;
    margin-top: 1rem;
}

.card-img .img-fluid{
    border-radius: 20px;
}

.card-img-top{
    max-width: 80%;
    margin: auto;
}

/* Footer */
footer{
    background-color: var(--color_footer);
    padding: 3rem 0;
}

footer a{
    text-decoration: none;
    color: var(--color_white);
}

.img_container_icon{
    width: 20px;
    margin-right: 1rem;
    display: inline-block;
}

.img_container_logo{
    width: 150px;
    margin-bottom: 2rem;
}