:root{
    --color_primary: #000000;
    --color_secondary_dark: #363636;
    --color_secondary_light: #777777;
    --color_accent_cool: #2d64e6;
    --color_accent_warm: #cd3d0f;
    --color_white: #ffffff;
    
    --color_banner1: #1f1f1f;
    --color_banner2:#bebcbb;
    --color_banner3: #161c3b;
    --color_footer: #00439c;
}

.nav_black{
    background-color: var(--color_primary);
}

.nav_black .img_container{
    max-width: 40px;
}

.nav_black .img_container,
.hamburger_menu,
.menu_right{
    margin-left: auto;
}

.menu_right button img{
    width: 20px;
}

[class*="btn_"]{
    color: var(--color_white);
    border-radius: 20px;
}

.btn_secondary_dark{
    background-color: var(--color_secondary_dark);
}

.btn_accent_warm{
    background-color: var(--color_accent_warm);
}

.btn_accent_cool{
    background-color: var(--color_accent_cool);
}

section{
    padding: 2rem 0;
}

[class^="jumbo"]{
    background-size: cover;
}

[class^="jumbo"] .section_text{
    padding-top: 300px;
}

.jumbo_1{
    background-image: url('../img/returnal-listing-thumb-01-ps5.jpg');
}

.jumbo_1 .img_container{
    max-width: 50%;
    padding-bottom: 2rem;
}

.jumbo_2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.banner_1{
    background-color: var(--color_banner1);
}

.banner_2{
    background-color: var(--color_banner2);
}

.banner_3{
    background-color: var(--color_banner3);
}

footer{
    background-color: var(--color_footer);
}